{% extends "admin_dashboard/admin_base.html" %}

{% block content %}
<h2>Users</h2>
<table class="table" style="left-margin:20px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{% url 'edit_user' user.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
